nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 20px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.06);
    padding-top: 3vh;
    top: 0;
    width: 100%;
    flex-direction: column;
    overflow: hidden
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: azure;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active{
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
